body {
    background-color: white;
}

/* Réinitialisation des marges et des rembourrages */
body,
ul {
    margin: 0;
    padding: 0;
}

/* Style de l'en-tête */
.header {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
    z-index: 10px;
    transition: background-color 2s ease;
}

/* Style de la barre de navigation en position fixe */
.fixed-header {
    position: sticky;
    top: 0;
    z-index: 7;
    background-color: black;
    color: white;
}

/* Style du logo */
.logo {
    margin-right: auto;
}

/* Style de la barre de navigation */
nav ul {
    list-style-type: none;
}

/* Réinitialisation des marges et des rembourrages */
body,
div {
    margin: 0;
    padding: 0;
}

/* Style de la barre de séparation */
.separator {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 20px;
}

#separator1 {
    margin-top: 20px;
}

#separator2 {
    margin-top: 40px;
}

/* Style du contenu principal */
.main-content {
    text-align: center;
    margin-top: 20px;
}

/* Style du Mon Portfolio */
.main-content h2 {
    font-size: 70px;
}

.intro-text {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* Style du titre Me Contacter */
.titre3 {
    font-size: 30px;
    text-align: left;
    margin-left: 400px;
    margin-top: 20px;
}

.menu.is-white a {
    color: white;
}